@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <img src="Pictures/DinoDiner-24.png" />
    <h1>DinoDiner</h1>
    <a asp-page="/MenuPage">Menu Page</a>
    <a asp-page="/PrivacyPage">Privacy Page</a>
    <a asp-page="/AboutPage">About Page</a>